.containerChat {
    display: flex;
    order: 4;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: red;
    flex-grow: 1;
    margin: auto;
    margin-top: 30px;
    /*justify-content: flex-start;*/
    max-width: 600px;
    min-width: 100px;
}

.containerChat>div {
    display: flex;
    max-width: 600px;
    min-width: 100px;
    width: 100%;
}

.fullBox {
    display: block !important;
    width: 100% !important;
    height: 400px !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: left !important;
}

.sendMsg {
    flex: 1;
    height: 40px;
}

.chatLeave {
    margin: auto;
    border-radius: 0;
    border: 1px solid transparent;
    font-family: inherit;
    background-color: #337ab7;
    color: white;
    padding: 1em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

label.chatBox {
    align-self: flex-start;
    text-align: left;
    overflow-wrap: break-word;
    width: 100%;
    min-width: 0px;
    margin-left: 20px;
}

span.chatBox {
    align-self: flex-start;
    text-align: left;
    margin: auto;
    margin-left: 10px;
    overflow-wrap: break-word;
    */ margin-bottom: 20px;
    margin-right: 10px;
    width: 100%;
    min-width: 0;
}

img.chatBox {
    align-self: flex-start;
    max-width: 50px;
    width: 100%;
    margin-left: 10px;
}

.chatName {
    width: 100%;
}

textarea.chatBox {
    width: 85%;
    resize: initial;
    font: 2em;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

button.chatBox {
    border-radius: 0;
    border-color: black;
    margin-right: 10px;
    height: 80%;
}

.right {
    display: inline-flex;
    order: 5;
    /*align-content: center;*/
    align-items: flex-start;
    /*flex-grow: 1;*/
    margin: auto;
    margin-top: 30px;
    margin-left: 2em;
    max-width: 450px;
    width: 450px;
    min-width: 150px;
}

table.tableInfo {
    width: 100%;
}

.userInfoClick {
    display: inline-flex;
}

.userInfoClick>* {
    display: inline-flex;
}

@media screen and (max-width: 1200px) {
    .container-chat {
        /*width: 100%;*/
    }

    .userInfo {
        display: none;
        width: 100%;
        background-color: aquamarine;
    }

    .userInfoClick {
        display: inline-flex;
    }

    .userInfoClick>* {
        display: inline-flex;
    }
}

@media screen and (max-width: 600px) {
    label.userInfo {
        text-align: center;
    }

    .userInfoClick {
        display: inline-flex;
    }

    .userInfoClick>* {
        display: inline-flex;
    }

    .container-chat {
        margin: auto;
        margin-top: 20px;
    }

    .right {
        margin: auto;
        margin-top: 20px;
        width: 100%;
    }

    span.chatBox {
        width: 100%;
    }
}